<link rel="stylesheet" href="../css/components/footer.css">

<footer>

  <!-- 1/3 parte com azul mais claro -->
  <div id="topo">

      <section id="topo-logo-redes">
        <img src="../images/Logotipo/PNG/LOGOTIPO_BUMPER_MAGAZINE_03.png" alt="Logotipo Bumper Magazine">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error itaque neque numquam odit veritatis.</p>
        <hr>
        <h3>ACOMPANHE NOSSAS REDES:</h3>
        <div class="topo-redes">

          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Circulo_branco.png/800px-Circulo_branco.png" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Circulo_branco.png/800px-Circulo_branco.png" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Circulo_branco.png/800px-Circulo_branco.png" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Circulo_branco.png/800px-Circulo_branco.png" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Circulo_branco.png/800px-Circulo_branco.png" alt="">
        </div>
      </section>

      <section id="topo-links">

        <!-- institucional -->
        <nav class="topo-colunas">
          <h2>INSTITUCIONAL</h2>
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Quem Somos</a>
            </li>
            <li>
              <a href="#">Todos os Produtos</a>
            </li>
            <li>
              <a href="#">Produtos Vitrine</a>
            </li>
            <li>
              <a href="#">Minha Conta</a>
            </li>
            <li>
              <a href="#">Principais Links</a>
            </li>
            <li>
              <a href="#">Blog da Bumper</a>
            </li>
            <li>
              <a href="#">Trabalhe Conosco</a>
            </li>
          </ul>
        </nav>

        <!-- politicas -->
        <nav class="topo-colunas">
         <h2>POLÍTICAS</h2>
          <ul>
            <li>
              <a href="#">Política de Privacidade</a>
            </li>
            <li>
              <a href="#">Política de Devolução e Trocas</a>
            </li>
            <li>
              <a href="#">Política de Envio e Entrega</a>
            </li>
            <li>
            <a href="#">Política de Pagamentos</a>
            </li>
            <li>
            <a href="#">Política de Garantia</a>
            </li>
            <li>
              <a href="#">Termos de Condições e Usos</a>
            </li>
          </ul>
        </nav>

        <!-- perguntas frequentes -->
        <nav class="topo-colunas">
          <h2>PERGUNTAS FREQUENTES</h2>
          <ul>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Como Rastrear o Meu Pedido?</a>
            </li>
            <li>
              <a href="#">Como Comprar na Bumper?</a>
            </li>
          </ul>
        </nav>

        <!-- fale conosco -->
        <nav class="topo-colunas">
          <h2>FALE CONOSCO</h2>
          <ul>
            <li>
              <a href="#">Fale Conosco</a>
            </li>
          </ul>
          <hr>
          <div class="topo-email-wpp">
            <p>contato@bumper.com</p>
            <img src="../images/icon-link-footer.svg" alt="icone de texto clicável para mandar um email" class="icon-link">
          </div>
          <div class="topo-email-wpp">
            <p>(11) 95143-1736</p>
            <img src="../images/icon-link-footer.svg" alt="icone de texto clicável para mandar mensagem no WhatsApp" class="icon-link">
          </div>
          <hr>
          <h3>Horário de Atendimento</h3>
          <p>Segunda a Sexta-feira, das 9h às 17h</p>

        </nav>

      </section>

  </div>

  <!-- 2/3 parte com azul mais escuro -->
  <div id="meio">

      <section id="meio-pagamentos">
        <h2>PAGAMENTOS</h2>
        <div meio-selos>
          <img src="../images/bandeiras-pagamento/visa 2.png" alt="Bandeira Visa">
          <img src="../images/bandeiras-pagamento/mastercard 2.png" alt="Bandeira Mastercard">
          <img src="../images/bandeiras-pagamento/amex 2.png" alt="Bandeira Amex">
          <img src="../images/bandeiras-pagamento/elo 2.png" alt="Bandeira Elo">
          <img src="../images/bandeiras-pagamento/ideal 2.png" alt="Bandeira Hipercard">
          <img src="../images/bandeiras-pagamento/diners-club 2.png" alt="Bandeira Diners Club">
          <img src="../images/bandeiras-pagamento/pix 2.png" alt="Simbolo do Pix">
          <img src="../images/bandeiras-pagamento/boleto 2.png" alt="Simbolo do Boleto">
        </div>

      </section>

      <section id="meio-seguranca">

        <h2>SEGURANÇA</h2>
        <div meio-selos>
          <img src="../images/selos-seguranca/ebit.svg" alt="Selo eBit">
          <img src="../images/selos-seguranca/reclame-aqui.svg" alt="Selo Reclame Aqui">
          <img src="../images/selos-seguranca/site-blindado.svg" alt="Selo Site Blindado">
          <img src="../images/selos-seguranca/google-safe-browsing.svg" alt="Selo Safe Browsing">
          <img src="../images/selos-seguranca/comodo.svg" alt="Selo Comodo">
          <img src="../images/selos-seguranca/google-safe-browsing.svg" alt="Selo Safe Browsing">
          <img src="../images/selos-seguranca/clearsale.svg" alt="Selo Safe Clearsale">
        </div>

      </section>

      <div id="meio-ancora">
        
      </div>

  </div>


  <!-- 3/3 parte cinza -->
  <div id="fundo">
    <p>Copyright © Bumper Magazine | Uma Revolução na Experiência de Compra - 2024. Todos os direitos reservados.</p>
    <p>Avenida Albert Einstein nº 80, Taboão da Serra, SP. CNPJ: 07.884.334/0001-14.</p>
  </div>

</footer>