/* GERAL */
p, h1, h2, h3, h4, a, ul, li{
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
}

* a{
  text-decoration: none;
}

* a:hover{
  color: rgb(255, 203, 107);
}

* ul{
  list-style: none;
}



/* TOPO */
#topo{
  background-color: #2357A8;
  display: flex;
}

/* TOPO - Logo e Redes */

#topo-logo-redes{
  width: 30%;
}

#topo-logo-redes img{
  width: 275px;
}


#topo-links{
  width: 70%;
}

.topo-redes{
  display: flex;
}

.topo-redes img{
  height: 50px;
}

#topo-links{
  display: flex;
}


/* MEIO */

#meio{
  background-color: #194994;
  display: flex;
  justify-content: space-between;
}

.topo-email-wpp{
  display: flex;
  gap: 5px;
}

/* FUNDO */
#fundo{
  background-color: #EBEBEB;
  margin: 0px;
  padding: 10px 0px;

}

#fundo p{
  justify-content: center;
  color: rgb(0, 0, 0);
}